@font-face {
    font-family: 'Comforter';
    src: url('./fonts/dzerski_en/');
    src: url('./fonts/dzerski_en/?#iefix') format('embedded-opentype'),
        url('./fonts/dzerski_en/Comforter-Regular.woff2') format('woff2'),
        url('./fonts/dzerski_en/Comforter-Regular.woff') format('woff'),
        url('./fonts/dzerski_en/Comforter-Regular.svg#Comforter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*@font-face {
    font-family: 'BPG Glaho';
    src: url('./fonts/dzerski_geo/BPGGlaho.eot');
    src: url('./fonts/dzerski_geo/') format('embedded-opentype'),
        url('./fonts/dzerski_geo/BPGGlaho.woff2') format('woff2'),
        url('./fonts/dzerski_geo/BPGGlaho.woff') format('woff'),
        url('./fonts/dzerski_geo/BPGGlaho.svg#BPGGlaho') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} არ მიჩანს ეს ფონტი რატო არ ვიცი დავაინსტალირე ბრაუზერები შევცვალე მაგრამ არ ქნა... ვინდოუსზე არ გამიტესტავს ალბათ მაგის ბრალია:/ თუ ეგრეა მივიღებ რჩევას როგორ დავანახო ლინუქსსაც */



