.nav-a {
    color: blueviolet;
    font-size: 22px;
    text-transform: uppercase;
    margin: 25px 25px 25px 25px
}
.active {
    color: crimson;
}
table th {
    background-color: blue;
    color: white;
    padding: 4px 30px 4px 8px;
    text-align: left;
}
table td {
    text-align: center;
    border: 1px solid;
    color: blueviolet;
}
/* table {
    border-collapse: collapse;
} გადასვლებზე დაშორებების მოცილება ცხრილში */
.x {
    font-family: 'Comforter';
} 
body {
    background-color: #194063;
}
.x {
    color: rgb(218, 214, 37);
    font-size: 50px;
    margin: 20px 0 8px 0
}
.ask {
    color: darkmagenta;
    margin: 20px 0 10px 0
}
.yes {
    color: darkturquoise;
}
.no {
    color: deepskyblue;
}
.bakaki {
    color: forestgreen;
    margin: 20px 0 10px 0
}
.tritina {
    color: honeydew;
    margin: 20px 0 10px 0
}

.vote {
    margin: 0 0 50px 0
}

/* display_inline */
.d-inline-block {
    display: inline-block;
}

.logo {
    vertical-align: middle;
    margin: 20px 20px 20px 100px
}
.navigation {
    vertical-align: middle;
}
.contact {
    font-size: 45px;
    color: rgb(19, 37, 143);
    margin: 30px 0 30px 0
}
.contact-span {
    font-size: 25px;
    color: khaki;
    margin: 15px 0 30px 0
}
.contact-a {
    font-size: 22px;
    color: lawngreen;
}
.nav-li {
    width: 140px
    border: none;
    color: white;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}

.nav-li:hover {
    box-shadow: inset 140px 0 0 0 #f9e506
}
.loginbox {
    width: 320px;
    height: 420px;
    background: rgb(36, 15, 77);
    color: #fff;
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.header-navi {
    position: fixed; /*ნავიგაციის გაშეშება */
    top: 0;
    left: 0;
    width: 100%;

}
body {
    height: 1800px;

}
.homework3 {
    padding-top: 120px;
}43, 60, 60)